/*
	Theme Name:  SETUP-BE
	Description: Base child theme for SETUP based on Bill Erickson's EA-Genesis-Child
	Author:      Mark Corpuz
	Author URI:  https://markcorpuz.com
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/

/*
BEFORE MODIFYING THIS THEME:
Please read the instructions here (private repo): https://github.com/billerickson/EA-Starter/wiki
Devs, contact me if you need access
*/
