/* SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/base.scss
---------------------------------------------------------------------------------------------------- */

// Colors
$white: #fff;
$grey_1: #FAFAFA;
$grey_2: #F5F5F5;
$grey_3: #EEEEEE;
$grey_4: #E0E0E0;
$grey_5: #BDBDBD;
$grey_6: #9E9E9E;
$grey_7: #757575;
$grey_8: #616161;
$grey_9: #424242;
$grey_10: #212121;
$black: #000;

// Brand Colors
$brand_colors: (
  'blue'      : #56a5e5,    // first color in array used for default button color
  'red'       : #e5565b,
  'orange'    : #e59856,
  'yellow'    : #ffff00,
  'green'     : #a2e556,
  'lightgrey' : $grey_2,
  'grey'      : $grey_5,
  'darkgrey'  : $grey_8,
);
@import "../modules/brand-color";

$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;

$base-color: $grey_9;
$highlight: brand-color( 'blue' );
$border-color: $grey_4;

// Fonts
$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$sans-serif: "Rubik", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Content
$content-width: 768px;
$block-margin: 16px;

// Grid
$grid: grid;
$grid-width: 1168px;
$grid-gap: 32px;
$base-margin: 16px;
$wrap_edge: $base-margin;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Site Header
$logo_width: 300px;
$menu_width: $logo_width + $grid-gap;
$persistant_mobile: false; // 49px
$persistent_desktop: false; // 49px


// Include Media
$breakpoints: (
  'phone'         : 360px,
  'smaller'       : 425px,
  'small'         : 768px,
  'tablet'        : 768px, // required for include-media
  'mobile_menu'   : 768px,
  'medium'        : 992px,
  'large'         : 1200px,
  'desktop'       : $grid-width + $grid-gap, // required for include-media
  'content-width' : $content-width + $grid-gap,
);

@import "../modules/helpers";
@import "../vendor/_include-media";
@import "../modules/base-styles";