/* SETUP-BE | 1.0.0 | 200331 | assets/scss/partials/blocks-base.scss
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	@include base-style();
}

a {
	color: $highlight;
	text-decoration: underline;
	@extend %transition;

	&:hover {
		text-decoration: none;
	}

	svg {
		@extend %transition;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

.clearfix {
	@include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 $base-margin;
	padding: 0;

	&.huge,
	&.has-huge-font-size {
		@include font-sizes( 2.25rem, 2.625rem, 3rem );
		//@include font-sizes( 36px, 42px, 48px );
	}

	&.large,
	&.has-large-font-size {
		@include font-sizes( 1.5rem, 1.875rem, 2.25rem );
		//@include font-sizes( 24px, 30px, 36px );
	}

	&.medium,
	&.has-medium-font-size {
		@include font-sizes( 1.25rem, 1.375rem, 1.5rem );
		//@include font-sizes( 20px, 22px, 24px );
	}

	&.small,
	&.has-small-font-size {
		@include font-sizes( 1.125rem, 1.25rem );
		//@include font-sizes( 16px, 20px );
	}

	&.normal,
	&.has-normal-font-size {
		@include font-sizes( 1rem, 1.125rem );
		//@include font-sizes( 16px, 18px );
	}

	&.base,
	&.has-base-font-size {
		@include font-sizes( 0.875rem, 1rem );
		//@include font-sizes( 16px );
	}

	&.smaller,
	&.has-smaller-font-size {
		font-size: 0.875rem;
		//font-size: 14px;
	}

	&.tiny,
	&.has-tiny-font-size {
		font-size: 0.75rem;
		//font-size: 12px;
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 16px;

	a {

		&:hover {
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1 {
	@include font-sizes( 2.25rem, 2.625rem, 3rem );
	//@include font-sizes( 36px, 42px, 48px );
}

h2 {
	@include font-sizes( 1.5rem, 1.875rem, 2.25rem );
	//@include font-sizes( 24px, 30px, 36px );
}

h3 {
	@include font-sizes( 1.25rem, 1.375rem, 1.5rem );
	//@include font-sizes( 20px, 22px, 24px );
}

h4 {
	@include font-sizes( 1.125rem, 1.25rem );
	//@include font-sizes( 18px, 20px );
}

h5 {
	@include font-sizes( 1rem, 1.125rem );
	//@include font-sizes( 16px, 18px );
}

h6 {
	@include font-sizes( 0.875rem, 1rem );
	//@include font-sizes( 14px, 16px );
}
