/* SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/layout.scss
---------------------------------------------------------------------------------------------------- */

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {
    max-width: map-get( $breakpoints, 'desktop' );
    margin: 0 auto;
	padding-left:  ($grid-gap / 2);
	padding-right: ($grid-gap / 2);
	@include clearfix;

	@include media("<=desktop") {
		padding-left: $grid-gap;
		padding-right: $grid-gap;
	}
}

.site-inner {

	.singular.content & > .wrap {
		max-width: map-get( $breakpoints, 'content-width' );
	}
}

/* Screen Reader Text
--------------------------------------------- */

.genesis-skip-link {
	display: none;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Sidebar Layouts
--------------------------------------------- */

@include media("<medium") {

	.sidebar-primary {
		display: none;
	}
}

@include media(">=medium") {

	.content-sidebar {

		.site-main {
			float: left;
			width: 768px / 1168px * 100%;
		}

		.sidebar-primary {
			float: right;
			width: 335px / 1168px * 100%;
		}

		@supports( display: $grid ) {
			.content-area {
				display: grid;
				grid-template-columns: 1fr 368px;
				grid-column-gap: $grid-gap;
			}

			.site-main {
				float: none;
				width: 100%;
				max-width: $content-width;
			}

			.sidebar-primary {
				float: none;
				width: 100%;
			}
		}
	}
}

.sidebar-primary {

	section:first-of-type {
		margin-top: 0;
	}

}
