/* SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/site-footer.scss
---------------------------------------------------------------------------------------------------- */

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {

	// BACKGROUND
	background: brand-color( 'darkgrey' );

	// COLOR
	color: $white;

	// SPACING
	padding-top: 2rem;
	padding-bottom: 1rem;

	position: relative;

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: brand-color( 'blue' );
			text-decoration: underline;
		}
	}

	p {
		> a {
			text-decoration: underline;
		}
	}

	ul {
		margin-bottom: 1rem;
	}

	li {
		list-style-type: none;
		//margin-bottom: 0.875rem;
	}

	& .footer-widgets-1 {
		.widget:first-child {
			margin-top: 0;
		}
	}

	.widget {
		margin-top: 3rem;
	}

	.widget-title {
		text-transform: uppercase;
	}

	@include media(">=tablet") {
		.wrap {
			@include columns( 3, 'div' );
		}

		.widget:first-child {
			margin-top: 0;
		}
	}
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	.module.copyright {
		.item.logo {}
		.item.info {}
	}
	.module.credit {
		.item.info {}
		.item.logo {}
	}
}

.site-footer {

	// BACKGROUND
	background: brand-color( 'lightgrey' );

	// SPACING
	padding-top: 2rem;
	padding-bottom: 2rem;

	// SHADOW
	-webkit-box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);
	box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	// COPYRIGHT
	.module.copyright {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;

		.info {
			align-self: center;
			@include font-sizes( 0.875rem, 1rem );
		}
		.logo {
			align-self: center;
		}

	}

	// CREDIT
	.module.credit {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;

		.info {
			align-self: center;
			font-size: 0.875rem;
		}
		.logo {
			margin-top: 1rem;
			font-size: 0.875rem;
			align-self: center;
		}

	}

}
